body {
  text-align: left;
  background-color: #E8F0F2;
  color: #053742;
}

section {
  padding: 20px 15%;
}

a {
  color: #39A2DB;
}

footer {
  text-align: center;
}

.accordion {
  margin-top: 10px;
}

.good-against {
  display: flex;
  flex-flow: row-wrap;
  gap: 2%;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: max-content; */
}

.good-against p {
  display: flex;
  flex-direction: column;
}

.mon-image-lg {
  width: 50px;
  height: 50px;
}

.mon-image-sm {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.none {
  display: none;
}
